/* Exercise 1-5

body {
    margin: 0;
  }
  
  .div1, .div2 {
    height: 100vh;
  }
  
  .div1 {
    background: pink;
  }
  
  .div2 {
    background: salmon;
  }
  
  
  .square {
    width: 150px;
    height: 20vh;
    background: fuchsia;
  }
  
  .square2 {
    width: 150px;
    height: 20vh;
    background: green;
  }
  
  .red {
    background-color: red;
  }

  */









/* Exercise 6-7

body{
    margin: 0;
}

.box{
    width: 100px;
    height: 100px;
    background-color: blue;
}

.panel {
    height: 100vh;
    background-color: beige;
}

.box-red {
    background-color: red;
}

nav {
    position: sticky;
    top: 0;
    transition: all 600ms ease-in-out;
    background-color: tan;
    color: white;
}

ul {
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

li {
    margin-right: 60px;
}

.nav-active {
    background-color: white;
    color: black;
}

p {
    padding-top: 50px;
    margin: 0 auto;
    max-width: 1200px;
}
*/





/* Exercise 9-10

h1 {
    text-align: center;
    margin-bottom: 100px;
}

main {
    max-width: 35%;
    margin: 80px auto;
}

p {
    font-size: 1.5rem;
    line-height: 1.7;
}


/*Creating a rule for the span tags: Setting color stops.
To start, we need to assign the same color in linear-gradient  
span {
    background-image: linear-gradient(yellow, yellow);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 1s ease-in;

}

/*By adding no-repeat and 0% width on span. We can set the effect on when hover  
span:hover {
    background-size: 100% 100%;
}
 */

/* Replacing the hover effect with ".active"! We want scroll trigger to take over this class 
.active {
    background-size: 100% 100%;
}

*/