:root{
$sky-color-blue: #a8c0ff;


$ground-green: olivedrab;
$ground-dry: #ddb966;


$ground-green: olivedrab;
$ground-dry: #ddb966;
$night: #1b1c20;
$day: #a8c0ff;
$afternoon: #FFA500;
$sunset: #FF5733;}

