

$skyShade1: #4d5a6a;
$skyShade2: #4d5a6a;


$sky-color-blue: #a8c0ff;
$white: white;
$black: black;
$ground-green: olivedrab;
$ground-dry: #ddb966;


$ground-green: olivedrab;
$ground-dry: #ddb966;
$night: #1b1c20;
$day: #a8c0ff;
$afternoon: #FFA500;
$sunset: #FF5733;
$dark-mode-sky: #0a0528;


