@import "animations";
@import "mediaqueries";
@import "colors";

  

body {
  margin: 0;
  overflow-x: hidden;
}



ul {
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

li {
  margin-right: 60px;
}

.nav-active {
  background-color: white;
  color: black;
}

p {
  padding-top: 50px;
  margin: 0 auto;
  max-width: 1200px;
}

#movieboard {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  z-index: 2;
}

#movieboard-container {
  position: relative;
  bottom: 44%;
  left: 13%;
  background: white;
  width: 75%;
  height: 40%;
  z-index: 2;
}

#UN_GIF {
  max-width: 50%;
  max-height: 50%;
  position: absolute;
  margin:auto;
  left: 37%;
  top: 50%;
  border-radius: 7%;
  
}

#headline {
  font-family: monospace;
  text-align: center;
  padding: 3%;
  color: white;
  font-size: 25px;
}

#headline2 {
  font-family: monospace;
  text-align: center;
  padding: 2%;
  color: white;
  font-size: 20px;
}

span {
  background-image: linear-gradient(black, black);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 1s ease-in;
}

.active {
  background-size: 100% 100%;
}

#movieboard2 {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  max-height: 90%;
}



#space {
  height: 400vh;
  background: linear-gradient(to bottom, #000000, #1c2331, #4d5a6a);
}

.star-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

#stars {
  max-width: 50%;
  margin: auto;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}

#satelite {
  max-width: 600px;
  max-height: 600px;
  margin: auto;
  position: absolute; /* set the position property to absolute */
  top: 70%; /* set the top property to 0 */
  left: 60%;
  z-index: 0;
  animation: wiggle 0.5s infinite;
}

#astronaut {
  max-width: 400px;
  max-height: 400px;
  margin: auto;
  position: absolute; /* set the position property to absolute */
  top: 100%; /* set the top property to 0 */
  left: 10%;
  z-index: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transform-origin: 50% 150%;
  animation: float-rotate 10s linear infinite;
}


#astroid {
  margin: auto;
  position: absolute;
  top: 20%;
  left: -40%;
  z-index: 0;
}



.curtains {
  display: flex;
  flex-direction: row;
  z-index: 1;
  height: 100vh;
}

.left-curtain {
  width: 50%;
  background: url(/images/curtain1.png);
  background-repeat: round;
}

.right-curtain {
  width: 50%;
  background: url(/images/curtain1.png);
  background-repeat: round;
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.opening__clouds{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
 

}

[class^="opening__cloud-"] {
  position: relative;
  max-width: 30%;
  max-height: 20%;
  bottom: 0;
  animation: wiggle 2s linear infinite;
  margin: 1%;
}

#UN__Fact{
position: relative;
max-width: 40%;
max-height: 20%;
top: 5%;
padding: 0;
left: 30%;
z-index: 0;
}

#UN__GOAL {
  position: relative;
  max-width: 15%;
  max-height: 20%;
  padding: 0;
  left: 45%;
  z-index: 0;
}

#UN__GOAL__IN {
  position: relative;
  max-width: 15%;
  max-height: 20%;
  padding: 0;
  left: 30%;
  top:2%;
  z-index: 0;
}


.scene1_ground2 {
  width: 200vh;
  height: 30vh;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background: #ddb966;
  padding: 0;
}





#birds1 {
  max-width: 35%;
  max-height: 35%;
  transform: rotate(0.5turn);
  transform: translate(-600px, 0px);
  z-index: -1;
  bottom: 20%;
}

.sky {
  height: 300vh;
  background: linear-gradient(to bottom, #4d5a6a, #808080, #a8c0ff);
  position: relative;
}

.scene1_ground2 {
  width: 200vh;
  height: 30vh;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background: #ddb966;
  padding: 0;
}


.scene1 {
  margin: 0;
  height: 2000vh;
  background: #a8c0ff;
  border: solid red;
}


.text-container {
  margin: auto;
  position: relative;
  top: 5%;
  background: url(/images/text_box.avif);
  max-width: 20%;
  min-height: 2%;
  left: 30%;
  display: flex;
  justify-content: center;
}

.inner-text {
  width: 80%;
  background: white;
  padding: 2%;
  margin: 5%;
}

#stone-well {
  position: absolute;
  bottom: 65%;
left: 66%;
max-width: 65%;
max-height: 65%;
z-index: 2;
}

.sun {
  max-width: 100%;
  border: red solid;
  position: relative;
  right: 30%;
  z-index: 0;
  top: 20%;
}

.sun3{
  position: absolute;
  transform: translateX(300px);
}

#hut {
  position: absolute;
  bottom: 50%;
  left: 0%;
  max-width: 500px;
  max-height: 500px;
}

.dried-trees {
  display: flex;
  position: relative;
  justify-content: space-around;
}

.dried-trees:nth-child(-n + 3) {
  bottom: 60%;
  width: 60%;
  height: 100%;
  left: 30%;
}

#big-hole {
  position: absolute;
  max-width: 30%;
  max-height: 30%;
  bottom: 30%;
  left: 65%;
}

#KOFItest {
  position: absolute;
  opacity: 1;
  bottom: 95%;
  left: 12%;
  max-height: 70%;
}
/* Petter */

@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Varela Round", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

html,
body {
  box-sizing: border-box;
}

p {
  transform: translate(50em, 0em);
  width: 30em;
  color: white;
  font-weight: bolder;
  position: absolute;
}


.scene3__text1{
  position: absolute;
  transform: translate(70vw, 5vw);
}
.scene3__text2{
  position: absolute;
  transform: translate(35vw, 1vw);
}

.scene5__text > a {
  display: inline-block;
  padding: 10px 20px;
  background-color: wheat;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transform: translate(-5em, 2em);
  position: absolute;
  z-index: 3;
}

.tree1 {
  transform: translate(700px, 300px);
  position: absolute;
  z-index: 2;
}

.tree2 {
  transform: translate(50px, 440px);
  position: absolute;
  z-index: 2;
}

.scene3__text{
  
 opacity: 0;
  
}


#door,
#left-big-window,
#right-big-window {
  animation: rave 1s infinite;
}

.pump {
  transform: translate(750px, 550px);
  position: absolute;
  z-index: 2;
}

.drop {
  transform: translate(773px, 640px);
  animation: water-drop1 1s infinite;
  position: absolute;
  z-index: 2;
}

.drop2 {
  transform: translate(773px, 690px);
  animation: water-drop2 1s infinite;
  position: absolute;
  z-index: 2;
}

.drop3 {
  transform: translate(773px, 740px);
  animation: water-drop3 1s infinite;
  position: absolute;
  z-index: 2;
}


a {
  text-decoration: none;
  color: #fff;
}

button:hover {
  background-color: rgb(105, 178, 191);
}

.ground {
  width: 200vh;
  height: 30vh;
  top: 5%;
  position: relative;
  z-index: 1;
  background: #ddb966;
  display: flex;
  padding: 0;
}

.ground5 {
  width: 100vw;
  height: 30vh;
  position: absolute;
  z-index: 1;
  background: olivedrab;
  padding: 0;
  display: flex;
  transform: translateY(38.4em);
  

}

.cloud1 {
  max-width: 30%;
  position: absolute;
  transform: translate(6em, 10em);
  z-index: 3;
}



.sun5 {
  position: absolute;
  animation: spin 2s linear infinite;
}



.house1 {
  transform: translate(950px, 250px);
  position: absolute;
  z-index: 3;
}

.house2 {
  transform: translate(200px, 290px);
  position: absolute;
  z-index: 3;
}

.music {
  position: absolute;
  transform: translate(300px, 200px);
}

.kid__kofi {
  position: absolute;
  transform: translate(0px, 500px);
  z-index: 3;
}

.kid__kofi2 {
  position: absolute;
  transform: translate(1200px, 570px);
  z-index: 3;
}

.school__kofi {
  transform: translate(230px, 400px);
  z-index: 3;
  position: absolute;
}

.adult__kofi {
  transform: translate(600px, 400px);
  z-index: 3;
  position: absolute;
}

.Red-friend {
  position: absolute;
  transform: translate(500px, 450px);
  z-index: 3;
}


.scene3 {
  height: 100vh;
  width: 100%;
  background: $sky-color-blue;
  position: relative;
}

.ground3 {
  width: 100%;
  height: 30vh;
  position: absolute;
  z-index: 1;
  background: olivedrab;
  display: flex;
  transform: translateY(38.4em);
}

.kofi__school2 {
  position: absolute;
  transform: translate(4em, 20em);
  z-index: 2;
}

.school {
  position: absolute;
  transform: translate(50%, 11em);
  z-index: 2;
}



#scene4 {
  height: 100vh;
  width: 100%;
  background: yellow;
}

.scene5 {
  height: 100vh;
  width: 100%;
  background: skyblue;
  z-index: -1000;
} /*# sourceMappingURL=styling.css.map */





#kid-eyes,
#adult-eyes {
  animation: look-around 3s infinite;
}

#kid-face, #school-face {
  animation: bobbing 2s ease-in-out infinite;
  transform-origin: bottom center;
}


#school-hair {
  animation: look-around 3s infinite;
}



#RF-blink {
  animation: blink 3s ease-in-out infinite;
}



.ground {
  width: 200vh;
  height: 30vh;
  top: 3.7%;
  position: relative;
  z-index: 1;
  background: #ddb966;
  padding: 0;
}

/*Tobias*/

* {
  padding: 0;
  margin: 0;
}


.scene2 {
margin:0;
height: 300vh; 
background: #a8c0ff;
position: relative;
}


.scene2__sky {
  height: 70vh;
  width: 100%;
  background: #a8c0ff;
}


.scene2__ground {
width: 100vw;
height: 30vh;
position: absolute;
z-index: 1;
background: #ddb966;
padding: 0;
}

#scene2__ground-airport {
  position:absolute;
  max-width: 150%;
  max-height: 150%;
  bottom: 80%;
}

#scene2__ground-airplane {
  position: absolute;
  max-width: 40%;
  max-height: 40%;
  transform: rotateY(180deg) rotateZ(10deg);
  z-index: +1;
  left: 5%;
  top: 20%;
  
}

#scene2__ground-runway {
  position: absolute;
  max-width: 200%;
  max-height: 200%;
  transform: rotate(5deg);
  left: 10%;
  top: -50%;
}

#scene2__ground-sun {
  position: absolute;
  top: -220%;
  left: 10%;
}

.scene2__ground-clouds1 {
  position: absolute;
  max-width: 40%;
  max-height: 30%;
  top: -150%;
  left: 8%;
  z-index: +1;
}

.scene2__ground-clouds2 {
  position: absolute;
  max-width: 40%;
  max-height: 30%;
  top: -140%;
  left: 15%;
}

.scene2__part2 {
  width: 100%;
  height: 200vh;
  background: #a8c0ff;
  position: relative;
  overflow: hidden;
} 

#scene2__part2-plane {
position: absolute;
 max-width: 40%;
 max-height: 40%;
 top: 10%;
left: 30%;
animation: MoveUpDown 2s ease-in-out infinite;
} 


[class^="scene2__cloud-"] {
  position: absolute;
  max-width: 30%;
  max-height: 20%;
  top: 30%;
  right: -20%;
  animation: moveClouds 5s linear infinite;
}

.scene2__cloud-big {
  animation-delay: 1s;
}

.scene2__cloud-medium {
  animation-delay: 2s;
}

.scene2__cloud-small {
  animation-delay: 3s;
}





.scene4 {
  height: 300vh;
  width: 100%;
  position: relative;
  background: #a8c0ff;
}
.scene4__sky {
  height: 70vh;
  width: 100%;
}


.scene4__ground {
width: 100vw;
height: 30vh;
position: absolute;
z-index: 1;
background: #ddb966;
padding: 0;
}

#scene4__ground-airport {
  position:absolute;
  max-width: 150%;
  max-height: 150%;
  bottom: 80%;
}

#scene4__ground-airplane {
  position: absolute;
  max-width: 40%;
  max-height: 40%;
  transform: rotateZ(-10deg);
  z-index: +1;
  left: 70%; 
  top: -150%; 
  
}

#scene4__ground-runway {
  position: absolute;
  max-width: 200%;
  max-height: 200%;
  transform: rotate(5deg);
  left: 10%;
  top: -50%;
}

/*# sourceMappingURL=styling.css.map */